@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
    font-family: "Fredoka One", "cursive";
    margin: 0px;
}

.root {
    --primary-color: #F2C94C;
    --secondry-color: green;
}

.header {
    background-color: #F2C94C;
    padding: 2rem 1rem;
    text-align: center;
    color: Black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.btn {
    background-color: #F2C94C;
    padding: 1rem 1rem;
    margin: 2rem;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}


.footer {
    background-color: #F2C94C;
    padding: 2rem 1rem;
    text-align: center;
    color: Black;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}